body {
  margin: 0;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  min-height: 15vh;
}
.content {
  display: flex;
}

.nav {
  flex-basis: 15vw;
  background-color: #c22177;
  padding: 20px;
  height: 81vh;
}
.article {
  flex-basis: 70vw;
  background-color: white;
  height: 81vh;
  padding: 20px;
  color: black;
}

.aside {
  flex-basis: 15vw;
  background-color: #320388;
  height: 81vh;
  padding: 20px;
}
.header {
  background-color: #111023;
  width: 100vw;
  padding: 20px;
}
.footer {
  background-color: #111023;
  width: 100vw;
  height: 12vh;
  padding: 20px;
}

@media (max-width: 575px) {
  .content {
    flex-direction: column;
  }
  .article {
    flex-basis: 55vh;
  }
}

@media (min-width: 576px) and (max-width: 700px) {
  .content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav {
    flex-basis: 100%;
    height: 8vh;
  }
}
